.card {
  min-height: 250px; /* Set a minimum height for the card */
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
  transition: background-color 0.3s ease;
  position: relative; /* Add this line */
  height: 400px; /* Add this line */
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
}

.card:hover {
  background-color: #becadf;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card-image {
  max-height: 200px; /* Set a maximum height for the image */
  width: 100%; /* Allow the image to fill the width */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  object-position: center; /* Center the image within the container */
  border-radius: 4px; /* Add border-radius for rounded corners */
  margin-bottom: 8px; /* Add some spacing at the bottom */
}

.text-lg {
  font-size: 18px;
}

.font-semibold {
  font-weight: 600;
}

.text-gray-800 {
  color: #333;
}

.text-sm {
  font-size: 14px;
}

.text-gray-600 {
  color: #777;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.card:hover .card-footer {
  background-color: #9fafc2; /* Green background color on hover */
}

.card-date {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #2a508a;
  padding: 4px 8px;
  margin-right: 8px; /* Add this line */
  border-radius: 4px; 
}

.card-category {
  font-size: 12px;
  font-weight: bold;
  color: #fff; /* Change color to white */
  background-color: #2a508a; /* Add background color */
  padding: 4px 8px; /* Add padding for better visibility */
  border-radius: 4px; /* Add border-radius for rounded corners */
  margin-left: 8px;
}

.card-content {
  flex: 1; /* Adjust the flex value to occupy remaining space */
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
}

.title-area {
  flex: 0 0 auto; /* Change flex value to prevent growth */
}

.abstract-area {
  flex: 1; /* Adjust the flex value to occupy remaining space */
  margin-top: 20px;
}

.authors-area {
  margin-top: 32px;
  margin-bottom: 8px;
}

.author-name {
  font-size: 12px;
  color: #777;
  margin-right: 8px;
}

