@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
  @font-face {
    font-family: Courier Prime;
    font-weight: 400;
    src: url(/fonts/CourierPrime-Regular.ttf) format("ttf");
  }
}
*/
